body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
}

/* .some {
    background: center no-repeat url("../assets/persik.png");
} */

.button {
    margin: 16px 0;
}

.main_wrrapper {
    padding: 24px;
    background: white;
}

.back-button {
    margin: 16px;
}

.char-card_avatar {
    max-height: 500px;
}

.char-card_main {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.vkuiInternalGroup {
    margin: 0 16px;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center; 
}

.justify-end {
    display: flex;
    justify-content: end;
}

.link {
    cursor: pointer;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    color: #2688eb;
}
.gray-block {
    background-color: #f0f2f5;
    border-left: 3px solid #dce1e6;
    padding: 10px;
    margin: 10px 0 0 0;
    word-wrap: break-word;
}

.half-block {
    width: 50%;
}

.half-flex {
    display: flex;
}

.text-gray {
    color: #626d7a;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

table {
border-collapse: collapse;
border: 2px solid rgb(140 140 140);
width: 100%;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.full-width {
    max-width: 100%;

    table {
        table-layout: fixed;
        width: 100%;
    }
}

.mobile-bottom-border {}

@media all and (max-device-width: 600px) {
    .vkuiDiv {
        padding: 0 4px;
        margin: none;
    }

    .half-block {
        width: 100%;
    }

    .half-flex {
        display: block;
    }

    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: block;
    }

    .main_wrrapper {
        padding: 8px;
    }

    .mobile-bottom-border {
        border-bottom: 1px solid rgb(160 160 160);
        padding-bottom: 10px;
    }
}