body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
}

/* .some {
    background: center no-repeat url("../assets/persik.png");
} */

.button {
    margin: 16px 0;
}

.main_wrrapper {
    padding: 24px;
    background: white;
}

.back-button {
    margin: 16px;
}

.char-card_avatar {
    max-height: 500px;
}

.char-card_main {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.vkuiInternalGroup {
    margin: 0 16px;
}

.text-end {
    text-align: end;
}

@media all and (max-device-width: 600px) {
    .vkuiDiv {
        padding: 0 4px;
        margin: none;
    }
}